h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidenav a:nth-child(2) {
    font-weight: bold;
}

.sidenav a:nth-last-child(2) {
    font-weight: bold;
}

.sidenav a:last-child {
    font-weight: bold;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .dark-mode-toggle {
    background-color: #fff;
    color: #333;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}